# Built artifacts
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App build
/app/build
/app/release
*.apk
*.aab

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Debug
*.hprof

# Misc
*.log
*.tmp
*.bak
